body {
        margin: 0;
        font-family: Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        line-height: 18px;
 /*       background-image: url('../images/twitter-bg.png');
        background-repeat: no-repeat;*/
        background-color: black;
         }

div {
    display: block;
    }

#entire-page { 
        height: 100%;
        }

#header { 
        background: #252525;
        height: 40px; 
        left: 0; 
        position: fixed; 
        width:100%; 
        top:0; 
        text-align:center;
        }

#main-page {
    height: 100%;
    }

#page-body {
    height: 100%;
    }

.wrapper {
    position: relative;
    width: 837px;
    height: 100%;
    padding: 54px 14px 15px;
    margin: 0 auto;
    background: url('../images/wash-white.png');
    }
