<!DOCTYPE>
<html>

<head>
<title>Schlep!</title>
  	<link href="stylesheet.css" rel="stylesheet" type="text/css" />
  	<link href="reset.css" rel="stylesheet" type="text/css" />
	<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type">
	<meta content="text/javascript" http-equiv="Content-Script-Type">
</head>

<body>
	<% @restaurants.each do |restaurant| %>
	<p>
		<%= link_to restaurant.name, restaurant %> 
		<%= restaurant.description %> 
	</p>  
<% end %>
</body>

</html>


