<!DOCTYPE>
<html>

<head>
</head>

<body>
	<% @restaurants.each do |restaurant| %>
	<p>
		<a class="hover">
			<h2><%= link_to restaurant.name, restaurant %> </h2>
		</a>
			<h4><%= restaurant.description %> </h4>
	</p>  
<% end %>
</body>

</html>


