<!DOCTYPE html>
<html>
<head>
  	<title>Schlep! - Your trusted online reviews site.</title>
  	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  	<%= stylesheet_link_tag("public", media: "all") %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>

<body>
	<div id="container">
		<div id="centerit">
			<div id="sidebar">
			     <div id="pic">
					<img src="/images/Schlep.png" width="250" height="150" alt="Schelp Logo"></img>
			     </div>
					<ul style="padding: 0px; margin-top: -15px;">
	          				<li class="download">
	          					<a class="buttons" href="/restaurants">Restaurant List</a>
	          				</li>
							 <li class="download">
	          					<a class="buttons" href="/restaurants/new">Add A Restaurant</a>
	         				 </li>
	        		</ul>			
			</div>
		

			<div id="main">
				<h1 class="title">Your trusted online reviews site</h1>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
